#nav-bar{
    padding: 0;
    background-color: white;
    display: flex;
    height: 100px;
}

#primary-nav {
    margin-left: 5em;
}

#logo {
    width: 3em;
    height: 3em;
}

#header_2 {
    margin-bottom: .20em;
}

#paragraph {
    color: black;
    margin-top: .20em;
    font-size: 12px;
} 
    

.container {
    display: flex;;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#secondary-nav {
    margin-right: 5em;
    margin: auto;
    padding-right: 5em;
    margin-bottom: 1.4em;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 5em;
    font-size: 12px;
}

li a {
    padding: .6em;
    list-style-type: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#nav-button {
    border-radius: 5%;
    padding: .5em;
    width: 150px;
    padding-top: .8em;
    padding-bottom: .8em;
    text-decoration: none;
}

.background {
    background-image: url(stut-img.jpeg);
    text-align: center;
    background-size: cover;
    padding: 250px;
    padding-bottom: 8em;
    padding-top: 10em;
}

#sign-in, a {
    margin: auto;
    border-radius: 5%;
    padding: .5em;
    padding-top: .8em;
    padding-bottom: .8em;
    padding-left: 2em;
    padding-right: 2em;
    background: none;
    color: white;
    border-color: white;
    text-decoration: none;
}

h1 {
    text-decoration: solid;
    color: white;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 10px;
    
}

p {
    color: white;
}
